<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <title>City Opera House</title>
</head>
<body>

<main>
    <header>
        <img src="../static/images/whiteGuys.jpg" th:src="@{/images/whiteGuys.jpg}" alt="teacher"/>
        <h2>Attendance Register</h2>
    </header>
    <nav>
        <ul>
            <li><a href="index.html" th:href="@{/}">Home</a></li>
            <div class="dropdown">
                <li>
                    <a onclick="show_menu('menu1')" class="dropdownlink">Create</a>
                </li>
                <div id="menu1" class="menuitems">
                    <li><a href="scheduleRegister.html" th:href="@{/scheduleRegister}">Add Schedule</a></li>
                    <li><a href="studentRegister.html" th:href="@{/studentRegister}">Register a new Student</a></li>
                </div>
            </div>

            <div class="dropdown">
                <li>
                    <a onclick="show_menu('menu2')" class="dropdownlink">Students</a>
                </li>
                <div id="menu2" class="menuitems">
                    <li><a href="studentsList.html" th:href="@{/studentsList}">List of Students</a></li>
                    <li><a href="studentProfile.html" th:href="@{/studentProfile}">Students Profile</a></li>
                </div>
            </div>

            <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
            <li><a href="register.html" th:href="@{/register}">Register</a></li>
        </ul>

    </nav>
    <article>
        <!--Content on this site is sourced from ENO and The Royal Opera House -->
        <form th:action="@{studentRegister}" method="post" th:object="${student}">
            <fieldset>
                <legend>Student Information</legend>
                <table>

                    <tr>
                        <td><label for="fname">First Name</label>
                        <td><input type="text" id="fname" pattern="[A-Za-z]*"
                                   title="Your name must contain only letters."
                                   th:field="*{firstName}"/></td>
                    </tr>

                    <tr>
                        <td><label for="lname">Last Name</label></td>
                        <td><input type="text" id="lname" pattern="[A-Za-z]*"
                                   title="Your name must contain only letters."
                                   th:field="*{lastName}"/></td>
                    </tr>
                    <tr>
                        <td><label for="studentID">studentID</label></td>
                        <td><input type="text" id="studentID"
                                   th:field="*{studentID}"/></td>
                    </tr>
                    <tr>
                        <td><label for="classID">class</label></td>
                        <td><input type="text" id="classID"
                                   th:field="*{classID}"/></td>
                    </tr>

                    <tr>
                        <td colspan="2"  align="middle"><input type="submit" value="Register student"/></td>
                    </tr>


                </table>
            </fieldset>
        </form>
    </article>
    <footer>
        <p>Contact us: sohag@gmail.com</p>
        <p>&copy; S. Miah 2019</p>
    </footer>
</main>
</body>
</html>